{:source-paths ["src" "test"]
 :dev-http {9000 "public"}
 :dependencies [[reagent "1.1.1"]
                [cljs-ajax "0.8.4"]]
 :builds
 {:cljs
  {:target :browser
   :modules {:main {:init-fn core.cljs.app/init}}
   :js-options {:entry-keys ["module" "browser" "main"]}
   :compiler-options {:output-feature-set :es2018}
   :devtools {:after-load core.cljs.app/init
              :http-root "public"
              :http-port 9000}}}}
